@media screen and (min-width:1300px){   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
body{
    background-color: antiquewhite;
  
}
.header{
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%); 
    display: flex;
}
.title{
    font-family: Roboto;
    margin-top: 10px;
    margin-left: 50px;
    color:  rgb(207, 207, 226);  
}
.filterGender{
    margin-left: 400px;

}
.filterBtn{
    font-family:Arial, Helvetica, sans-serif;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    border: 2px white;
    background-color: rgb(200, 200, 244) ;
    color: rgba(2,0,36,1);
}
.filterBtn:hover{
    background-color: rgb(176, 176, 255);
}
.character{
    display: flex;
    flex-wrap: wrap;
}
.characterDiv{
    width:300px;
    height:400px;
    border: 2px solid  rgba(2,0,36,1);
    padding: 10px;
    margin: 10px;
}
.characterDiv:hover{
    background-blend-mode: darken;
    transition: all;
    transition-duration: 5s;
  

} 
.footer{
    width: 100%;
    height: 100px;
    background:linear-gradient(90deg, rgb(7, 2, 92) 0%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;

    
}
.footerIcons{
    margin: 30px 40px;
    padding: 20px;
    font-size: 20px;

}
.pages{
    background-color:antiquewhite;
    padding:10px;
    margin: 10px;
    text-align: center;
}
.btnPage{
    background-color:  rgb(200, 200, 244) ;
    padding:8px;
    border-radius: 10px;
}

}