
@media screen and (min-width:320px){
   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      cursor: pointer;
    }
    body{
        background-color:aliceblue;
    }
    .header{
        width: 100%;
        height: 60px;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%); 
        display: flex;
        justify-content: space-around;
    }
    .title{
        font-family: Roboto;
        font-size: 12px;
        margin-top: 5px;
        margin-left: 20px;
        color:  rgb(207, 207, 226);  
   }
    .filterGender{
      display: none;
    }
    .character{
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content:center;
        align-items: center;
   }
    .characterDiv{
        width:280px;
        height:400px;
        border: 0.5px solid  rgb(207, 207, 226);;
        background-color:  rgb(207, 207, 226);;
        padding: 5px;
        margin: 5px;
        display: flex;
        text-align: left;
        flex-direction: column;
        overflow: hidden;
        line-height:12px ;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 10px;
        font-weight: normal;
    }
    img{
        width: 100%;
        height: 200px;
     }
     img:hover{
        filter: grayscale(90%);
        transition: all;
        transition-duration: 2s;
        transform: scale(1.2);
     }
     .footer{
        width: 100%;
        height: 200px;
        background:linear-gradient(90deg, rgb(7, 2, 92) 0%, rgb(110, 225, 248) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        color: antiquewhite;
      }
     .footerIcons{
        margin: 10px;
        padding: 10px;
        font-size: 20px;
     }
     .pages{
        background-color:aliceblue;
        padding:10px;
        margin: 10px;
        text-align: center;
     }
     .btnPage{
        background-color:  rgb(200, 200, 244) ;
        padding:8px;
        border-radius: 10px;
     }
    p{
        margin: 5px;
        font-size: 10px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     }
     .hamburguesa{
      width: 40px;
      height: 40px;
      margin-top: 5px; 
   }
     
    .hidden-ul {
   display: none;
    }
    .hidden-ul button{
      background-color: transparent;


    }
    li{
      list-style: none;
    }
    .show-ul {
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%) ;
      padding-bottom: 10px;
    }
 }
  @media screen and (min-width:481px){
   body{
        background-color:aliceblue;
    }
    .header{
        width: 100%;
        height: 80px;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%); 
        display: flex;
    }
   .title{
        font-family: Roboto;
        font-size: 15px;
        margin-top: 5px;
        margin-left: 20px;
        color:  rgb(207, 207, 226);  
    }
    .filterGender{
      display: none;
    }
     .character{
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
   }
    .characterDiv{
        width:280px;
        height:400px;
        border: 0.5px solid  rgb(207, 207, 226);;
        background-color:  rgb(207, 207, 226);;
        padding: 5px;
        margin: 5px; 
        display: flex;
        text-align: left;
        flex-direction: column;
        overflow: hidden; 
        line-height:12px ;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 5px;
        font-weight: normal;
    } 
    img{
      width: 100%;
      height: 240px;
   }
   img:hover{
      filter: grayscale(90%);
      transition: all;
      transition-duration: 2s;
      transform: scale(1.2);
   }
   .footer{
      width: 100%;
      height: 100px;
      background:linear-gradient(90deg, rgb(7, 2, 92) 0%, rgb(110, 225, 248) 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      color: antiquewhite;
       
   }
   .footerIcons{
      margin: 10px 10px;
      padding: 10px;
      font-size: 20px;
      flex-direction: row;
   }
   .fa-brands{
      font-size:20px;
      display: inline-block;

   }
   .pages{
      background-color:aliceblue;
      padding:10px;
      margin: 10px;
      text-align: center;
   }
   .btnPage{
      background-color:  rgb(200, 200, 244) ;
      padding:8px;
      border-radius: 10px;
   }
  p{
      margin: 5px;
      padding: 1px;
      font-size: 10px;
   }
   .hamburguesa{
      width: 50px;
      height: 50px;
      margin-top: 5px; 
   }
     
    .hidden-ul {
   display: none;
    }

 } @media screen and (min-width:980px){   

  body{
     background-color:aliceblue;
 }
  .header{
     width: 100%;
     height: 60px;
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%); 
     display: flex;
 }
 .title{
    font-family: Roboto;
    margin-top: 10px;
    margin-left: 50px;
    color:  rgb(207, 207, 226);  
 }
 .filterGender{
    margin-left: 100px;
    display: block;
 } 
 .filterGender button{
    font-family:Arial, Helvetica, sans-serif;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    border: 2px white;
    background-color: rgb(200, 200, 244) ;
    color: rgba(2,0,36,1);
 }
 .filterBtn:hover{
    background-color: rgb(176, 176, 255);
 }
 .character{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
  .characterDiv{
    width:200px;
    height:400px;
    border: 0.5px solid  rgb(207, 207, 226);;
    background-color:  rgb(207, 207, 226);;
    padding: 15px;
    margin: 15px;
    display: flex;
    text-align: left;
    flex-direction: column;
    overflow: hidden;
    line-height:12px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 8px;
    font-weight: normal;  
 } 
 img{
    width: 100%;
    height: 240px;
 }
 img:hover{
    filter: grayscale(90%);
    transition: all;
    transition-duration: 2s;
    transform: scale(1.2);
 }
 .footer{
    width: 100%;
    height: 100px;
    background:linear-gradient(90deg, rgb(7, 2, 92) 0%, rgb(110, 225, 248) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    color: antiquewhite;
}
 .footerIcons{
    margin-top:-20px ;
    padding: 10px;
    font-size: 20px;

 }
 .fa-brands{
    font-size:20px;
    margin-bottom:5px;
    padding:5px;
 }
 .pages{
    background-color:aliceblue;
    padding:10px;
    margin: 10px;
    text-align: center;
 }
 .btnPage{
    background-color:  rgb(200, 200, 244) ;
    padding:8px;
    border-radius: 10px;
 }
 p{
   margin: 5px;
   padding: 1px;
   font-size: 10px;
}
 .hamburguesa{
   display: none;
 }
}@media screen and (min-width:1025px){
   .filterGender{
      margin-left: 200px;
  
   } 
}
@media screen and (min-width:1150px) {
   .filterGender{
      margin-left: 350px;
  
   } 
   .character{
      display: flex; 
      flex-direction: row;
      flex-wrap: wrap;
      overflow: hidden;
  }
    .characterDiv{
      width:280px;
      height:450px;
      border: 0.5px solid  rgb(207, 207, 226);;
      background-color:  rgb(207, 207, 226);;
      padding: 10px;
      margin: 10px;
      display: flex;
      text-align: left;
      flex-direction: column;
      overflow: hidden;
      line-height:12px ;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 8px;
      font-weight: normal;  
   } 
   p{
      margin: 5px;
      padding: 1px;
      font-size: 15px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .footerP{
      padding: 5px;
      margin-top: 50px;
   }
}
